{% extends "base.html" %}

{% block title %}Менеджер задач Hexlet{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="h4 mb-4 card-title">Вход</h1>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label" for="id_username">Имя пользователя</label>
              <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Имя пользователя" required id="id_username">
            </div>
            <div class="mb-3">
              <label class="form-label" for="id_password">Пароль</label>
              <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Пароль" required id="id_password">
            </div>
            <input class="btn btn-primary" type="submit" value="Войти">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}